h1 {
    margin-left: 45.5%;
    margin-top: 2%;
}

input {
    font-weight: bold;
    margin-top: 15px;
    background-color: #DCDCDC;
    border: none;
    color: black;
    padding: 15px 20px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: auto;
    border-radius: 15px;
    margin-left: 41%;
    margin-top: 1%;
}

input::placeholder {
    font-weight: bold;
}

button {
    color: white;
    background-color: green;
    border-radius: 50px;
    padding: 15px 20px;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 57%;
}